DISCORD_TOKEN=
DISCORD_ENABLE_DOT_COMMANDS=true
DISCORD_DOT_COMMANDS_WHITELIST=server info, tele gmisland
DISCORD_ENABLE_COMMANDS_CHANNELS=true
DISCORD_ENABLE_TAG_FAILED_NOTIFICATIONS=true
DISCORD_IGNORE_PREFIXES=!
DISCORD_STRIP_EMOJI=true

WOW_PLATFORM=windows
WOW_VERSION=3.3.5
WOW_REALMLIST_HOST=127.0.0.1
WOW_REALMLIST_PORT=3724
WOW_REALM=Trinity
WOW_ACCOUNT=test
WOW_PASSWORD=test
WOW_CHARACTER=test
WOW_ENABLE_SERVER_MOTD=false

ITEM_DATABASE=https://db.warhoop.su

FILTERS_ENABLED=false
FILTER_PATTERNS=

DEBUG=false

PROXY_URL=
PROXY_DISCORD_CONNECT=false
PROXY_REALM_CONNECT=false
PROXY_INSECURE_SKIP_VERIFY=false

CHAT_ROUTE_COUNT=5

CHAT_ROUTE_1_DIRECTION=wow_to_discord
CHAT_ROUTE_1_WOW_TYPE=Channel
CHAT_ROUTE_1_WOW_CHANNEL=LookingForGroup
CHAT_ROUTE_1_WOW_FORMAT=[%user]: %message
CHAT_ROUTE_1_DISCORD_CHANNEL=1504759053073780826
CHAT_ROUTE_1_DISCORD_FORMAT=[%target] [%user]: %message

CHAT_ROUTE_2_DIRECTION=wow_to_discord
CHAT_ROUTE_2_WOW_TYPE=Channel
CHAT_ROUTE_2_WOW_CHANNEL=Поиск спутников
CHAT_ROUTE_2_WOW_FORMAT=[%user]: %message
CHAT_ROUTE_2_DISCORD_CHANNEL=1504759053073780826
CHAT_ROUTE_2_DISCORD_FORMAT=[%target] [%user]: %message

CHAT_ROUTE_3_DIRECTION=discord_to_wow
CHAT_ROUTE_3_WOW_TYPE=Channel
CHAT_ROUTE_3_WOW_CHANNEL=LookingForGroup
CHAT_ROUTE_3_WOW_FORMAT=[%user]: %message
CHAT_ROUTE_3_DISCORD_CHANNEL=1504759053073780826
CHAT_ROUTE_3_DISCORD_FORMAT=[%target] [%user]: %message

CHAT_ROUTE_4_DIRECTION=discord_to_wow
CHAT_ROUTE_4_WOW_TYPE=Channel
CHAT_ROUTE_4_WOW_CHANNEL=Поиск спутников
CHAT_ROUTE_4_WOW_FORMAT=[%user]: %message
CHAT_ROUTE_4_DISCORD_CHANNEL=1504759053073780826
CHAT_ROUTE_4_DISCORD_FORMAT=[%target] [%user]: %message

CHAT_ROUTE_5_DIRECTION=wow_to_discord
CHAT_ROUTE_5_WOW_TYPE=System
CHAT_ROUTE_5_WOW_CHANNEL=
CHAT_ROUTE_5_WOW_FORMAT=%message
CHAT_ROUTE_5_DISCORD_CHANNEL=1504759053073780826
CHAT_ROUTE_5_DISCORD_FORMAT=[SYSTEM]: %message
